# Source code
src/
public/

# Configuration files
.prettierrc.cjs
.prettierignore
tsconfig.json
tsconfig.app.json
tsconfig.node.json
vite.config.ts

# Development files
node_modules/
.vscode/
.idea/
*.log
