/* PROJECTOR: SLIDER (INT) & SLIDERF (FLOAT) */

.projector.slider input,
.projector.sliderf input {
  margin: 0;
  filter: sepia(1);
  cursor: pointer;
  outline: none;
  width: 90%;
}
.projector.slider:not(.indicated):not(:hover) > svg,
.projector.sliderf:not(.indicated):not(:hover) > svg {
  fill: var(--NONE);
}
