/* PROJECTOR: Tables */

/* Tables */
.table {
    border-collapse: collapse;
    font-size: 0.875rem;
    width: 100%;
    table-layout: auto;
    text-align: center;
    background-color: var(--df-bg);
}
.table th {
  position: sticky;
  top: 0;
  z-index: calc(var(--projector-z) + 1);
  opacity: 1;
}
.table th,
.table td {
    border: 1px solid #ddd;
    vertical-align: top;
}

.table th {
    background-color: var(--df-header-bg);
    font-weight: 600;
}

.table tr:nth-child(even) {
    background-color: var(--df-zebra-bg);
}

.table tr:hover {
    background-color: var(--df-hover-bg);
}


.projector.table {
    height: 100%;
    width: 100%;
    overflow: auto;
    box-sizing: content-box;

    display: flex;
    flex-direction: initial;
    justify-content: initial;
    align-items: initial;
    gap: initial;
}

.projector.table>.code {
    overflow-y: scroll;
}