/* PROJECTOR: CHECKBOX */

.projector.checkbox input {
  margin: 0;
  filter: sepia(1);
  cursor: pointer;
  outline: none;
}
.projector.checkbox:not(.indicated):not(:hover) > svg {
  fill: var(--NONE);
}
