/* PROJECTOR: FOLD */
.projector.comp {  
  font-family: var(--code-font);
  justify-content: unset !important; /* override projectorbase.css */
}

.projector.comp.indicated {  
  font-family: var(--code-font);
  justify-content: unset !important; /* override projectorbase.css */
  z-index: var(--projector-indicated-z);
}

/* Show green backing decoration when comp projector is hovered */
.projector.comp:hover > svg.shard > path {
  fill: #00ff0040;
  stroke: #00ff0040;
}

.projector.comp .comp-view {
  filter: drop-shadow(3px 3px 2px #00000010);
}

.projector.comp .comp-view svg {
  --shadow: var(--BR);
  filter: drop-shadow(0.7px 0.7px 0px var(--shadow));
}

.projector.comp .comp-view path {
  --fill: #00ff0020;
  fill: var(--fill);
  stroke: var(--fill);
}

.projector.comp .comp-view :hover path {
  --fill: #00ff0040;
  fill: var(--fill);
  stroke: var(--fill);
}

.projector.comp .comp-view .incoming path {
  --fill: #00ff0020;
  fill: var(--fill);
  stroke: var(--fill);
}

.projector.comp .comp-view .previous path {
  --fill: #ff000020;
  fill: var(--fill);
  stroke: var(--fill);
}

/* Force comp projector backing to be transparent, even when indicated */
.projector.comp.indicated > svg,
.projector.comp.indicated > svg.shard > path,
.projector.comp > svg,
.projector.comp > svg.shard > path {
  display: none;
}