/* Value display cell, DHExp rendering, and stepper styles */

/* DYNAMICS */

.cell-result {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: var(--cell-result);
  gap: 0.5em;
  color: var(--cell-result-text);
  padding: 0.5em;
  padding-left: 1.2em;
}

.cell > .cell-result {
  border-top: 1px dotted var(--cell-result-border);
}

.cell-result .status {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6em;
  height: 1.6em;
  white-space: nowrap;
  font-family: var(--code-font);
}

.cell-result .status .spinner {
  height: 50%;
  width: 60%;
  background: url("../img/loading.gif");
  background-repeat: round;
  filter: sepia(1);
  opacity: 0;
  transition: opacity 0.2s linear;
}

.cell-result .status.pending .spinner {
  opacity: 0.5;
  transition: all 0.2s linear;
}

.cell-result .status .eq {
  position: absolute;
  opacity: 1;
  transition: opacity 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

.cell-result .status.pending .eq {
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

.cell-result .result {
  padding-top: 0.1em;
  min-height: 1.6em;
  width: 100%;
  transition: opacity 0.2s linear;
}

.cell-result .result.pending {
  opacity: 0.3;
  transition: opacity 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

.cell-result .result .exception {
  background-color: var(--eval-exception);
  color: var(--eval-exception-stroke);
  border-radius: 0.3em;
  font-family: var(--ui-font);
  font-size: 1rem;
  padding: 0.1em 0.4em 0.1em 0.4em;
}

.cell-result.hidden {
  background-color: var(--cell-result-hidden);
}

.cell-result .equiv {
  font-family: var(--code-font);
  display: flex;
  align-items: center;
  height: 26px;
}

.result {
  width: 100%;
}

.cell.deselected + .cell-item {
  border-left: 1px solid var(--BR2);
}

.cell-item.cell-result:has(.fail),
.cell-item.cell-result:has(.exception) {
  background-color: var(--eval-exception);
}

.cell-item.cell-result .error-msg {
  padding: 0.25em;
  color: var(--BLACK);
}

.cell-result .icon:hover svg {
  animation: wobble 0.6s ease 0s 1 normal forwards;
  transform: scale(130%);
  filter: brightness(1.1);
}

.cell-result .icon {
  cursor: pointer;
  color: var(--BR2);
  height: 20px;
}

.cell-result .icon svg {
  fill: var(--BR2);
}

.cell-result .icon.disabled {
  opacity: 0.35;
}

.cell-result .icon.disabled:hover svg {
  transform: scale(100%);
  cursor: not-allowed;
}
