/* Probe Projector */
:root {
  --code-text: var(--token-exp);
  --live-env-bkg: var(--T3);

  --num-closures: var(--Y1);
  --num-closures-indicated: var(--R1);

  --exp-ap: hsl(265, 75%, 80%);
  --pat-ap: hsl(220, 75%, 80%);

  --exp-indicated: var(--G0);
  --pat-indicated: var(--PAT);
  --exp-ap-indicated: var(--TYP);

  --exp-base: hsl(120, 40%, 85%);
  --pat-base: hsl(170, 40%, 85%);

  --exp-shadow: oklch(0.55 0.15 150);
  --pat-shadow: oklch(0.5 0.1 245);

  --exp-cell: hsl(115, 30%, 70%);
  --pat-cell: hsl(165, 30%, 70%);
}

.projector.probe {
  font-family: var(--code-font);
  font-size: var(--base-font-size);
  color: var(--code-text);
}

.projector.probe.Exp > svg {
  fill: var(--exp-base);
  filter: drop-shadow(0.7px 0.7px 0px var(--exp-shadow));
}
.projector.probe.Pat > svg {
  fill: var(--pat-base);
  filter: drop-shadow(0.7px 0.7px 0px var(--pat-shadow));
}

.projector.probe .main {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
  cursor: pointer;
  align-items: center;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.projector.probe .live-offside:empty + * .icon {
  animation: rotate 5s linear infinite;
}
.projector.probe .main .icon {
  width: 16px;
  height: 16px;
  background-image: url(../../img/noun-search-5661270.svg);
  background-size: cover;
  filter: invert(1) brightness(0.4) sepia(1) saturate(1.8) hue-rotate(75deg);
}
.projector.probe .main.ap .icon {
  background-image: url(../../img/noun-telescope-7245201.svg);
}
.projector.probe.indicated .main .icon {
  filter: invert(1);
}

.projector.probe .num-closures {
  position: absolute;
  right: -0.5em;
  top: -0.3em;
  transform-origin: top right;
  scale: 0.6;
  color: oklch(1 0 0);
  font-family: var(--ui-font);
  display: flex;
  justify-content: center;
  border-radius: 2em;
  font-size: 0.7em;
  padding: 0.3em;
  min-width: 1em;
  z-index: var(--code-emblems-z);
}
.projector.probe.Exp .num-closures {
  background-color: var(--exp-indicated);
}
.projector.probe.Pat .num-closures {
  background-color: var(--pat-indicated);
}
.projector.probe.selected .num-closures {
  background-color: var(--num-closures);
}
.projector.probe.indicated.Right .num-closures {
  background-color: var(--num-closures-indicated);
  right: -0.8em;
  top: -0.5em;
}

.projector.probe .live-offside {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.projector.probe .live-offside:empty {
  display: none;
}

.projector.probe .closure-group {
  display: flex;
  gap: 2px;
  align-items: center;
}

.projector.probe .closure-group:not(:last-child)::after {
  content: "•";
  font-size: 0.4em;
  color: var(--exp-indicated);
}

.projector.probe .val-resize {
  cursor: pointer;
}

/* .projector.probe .closure:first-child .val-resize:hover .code-text {
  cursor: col-resize;
} */

/* TOKEN BKG */
.projector.probe .val-resize .code-text {
  border-radius: 0.05em 0.05em 0.05em 0.2em;
}
.projector.probe.Exp .val-resize .code-text {
  background-color: var(--exp-base);
  border-bottom: 1px solid var(--exp-shadow);
}
.projector.probe.Pat .val-resize .code-text {
  border-color: var(--pat-shadow);
  background-color: var(--pat-base);
}
.projector.probe .val-resize.cursor-lex .code-text {
  opacity: 100%;
}
.projector.probe .val-resize.cursor-ap-lex .code-text {
  opacity: 100%;
  outline: 1px solid var(--exp-ap-indicated);
}
.projector.probe .val-resize.cursor-outer-ap .code-text {
  opacity: 100% !important;
  outline: 1px solid var(--exp-ap-indicated);
  background-color: var(--exp-ap-indicated);
}
.projector.probe .val-resize .code-text,
.projector.probe .val-resize.cursor-ap.light .code-text,
.projector.probe .val-resize.cursor-ap-lex.light .code-text {
  opacity: 50%;
}

/* TOKEN BKG INDICATED */
.projector.probe.indicated .val-resize .code-text {
  opacity: 60%;
}
.projector.probe.indicated .closure.cursor .val-resize .code-text {
  opacity: 100%;
  background: none;
  outline-width: 2.8px;
  outline-style: solid;
}
.projector.probe.indicated.Exp .val-resize.cursor-lex .code-text {
  outline-color: var(--exp-indicated);
}
.projector.probe.indicated.Pat .val-resize.cursor-lex .code-text {
  outline-color: var(--pat-indicated);
}
.projector.probe.indicated .val-resize.cursor-lex.ap .code-text {
  outline-color: var(--exp-ap-indicated);
}

/* TOKENS */
.projector.probe .val-resize.cursor-ap .code-text .token,
.projector.probe .val-resize.cursor-none .code-text .token,
.projector.probe .val-resize.cursor-outer-ap .code-text .token {
  filter: invert(1) brightness(10);
}
.projector.probe .val-resize.cursor-ap-lex .code-text .token {
  color: var(--exp-ap-indicated);
}

.projector.probe .val-resize .code-text:hover {
  filter: brightness(1.05) saturate(1.05);
}

.projector.probe .live-env {
  background-color: var(--live-env-bkg);
  border-radius: 0 0.2em 0.2em 0.2em;
  padding: 0.2em;
  display: none;
  position: absolute;
  top: 1.35em;
}

.projector.probe .live-env .live-env-entry {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  align-items: baseline;
  color: var(--GB0);
}

.projector.probe.indicated > svg {
  fill: var(--exp-indicated);
}
.projector.probe.indicated.Pat > svg {
  fill: var(--pat-indicated);
}

.projector.probe.indicated .main {
  color: white;
}

.projector.probe.indicated .closure:hover .live-env {
  display: block;
}
.projector.probe.indicated .closure:hover .live-env:empty {
  display: none;
}

.projector.probe .closures-header,
.projector.probe .closures-tail {
  width: 10px;
  height: 13px;
  cursor: pointer;
  color: var(--exp-indicated);
  background: url(../../img/noun-arrow-3130579.svg);
  background-size: cover;
  color: var(--NONE);
  filter: invert(1) brightness(0.5) sepia(1) hue-rotate(61deg);
}
.projector.probe .closures-tail {
  transform: rotate(180deg);
}

.projector.probe:not(.indicated) .closures-header,
.projector.probe:not(.indicated) .closures-tail {
  pointer-events: none;
  opacity: 0% !important;
}

.projector.probe .closures-header.disabled,
.projector.probe .closures-tail.disabled {
  opacity: 15%;
}

.projector.probe .closures-header:hover,
.projector.probe .closures-tail:hover {
  filter: brightness(1.05) saturate(1.05);
}
