@import "style/fonts.css";
@import "style/variables.css";
@import "style/animations.css";
@import "style/loading.css";
@import "style/editor.css";
@import "style/projectors.css";
@import "style/nut-menu.css";
@import "style/cursor-inspector.css";
@import "style/context-inspector.css";
@import "style/type-display.css";
@import "style/projectors-panel.css";
@import "style/explainthis.css";
@import "style/exercise-mode.css";
@import "style/cell.css";
@import "style/dynamics.css";
@import "style/toggle.css";

/* BASE ELEMENTS */

svg {
  overflow: visible;
}

body {
  /* Default UI font */
  font-family: var(--ui-font);
}

select {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

:root {
  scrollbar-color: #dac898 #0000;
  scrollbar-width: thin;
}

:root::-webkit-scrollbar {
  width: 0.8em;
}

:root::-webkit-scrollbar:horizontal {
  height: 0.8em;
}

:root::-webkit-scrollbar-track {
  background-color: #fdf6e300;
}

:root::-webkit-scrollbar-thumb {
  background-color: #e1d1a6;
  border-radius: 1em;
  border: 0.2em solid #fdf6e3;
}

::-webkit-scrollbar-thumb {
  background-color: var(--subdued-accent);
  border-radius: 0 0.5em 0.5em 0em;
}

/* set button(top and bottom of the scrollbar) */
:root::-webkit-scrollbar-button,
:root::-webkit-scrollbar-corner {
  display: none;
}

/* PAGE */

#page {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 2em minmax(0, 1fr) 2em / 1fr fit-content(18em);
  background-color: var(--light-page-color);
  color: var(--light-text-color);
  user-select: none;
}

#font-specimen {
  position: fixed;
  left: 100%;
}

#main {
  grid-row: 2;
  grid-column: 1 / span 1;
  overflow: auto;
  padding: 0;
  background-color: var(--active-cell-bkg);
}

#side-bar {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  border-left: 0.6px solid var(--subdued-accent);
  overflow-y: scroll;
  overflow-x: hidden;
  width: max-content;
}

#top-bar {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  z-index: var(--top-bar-z);
  display: flex;
  align-items: center;
  border-bottom: 0.6px solid var(--subdued-accent);
}

#bottom-bar {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--bottom-bar-bkg);
  outline: 0.6px solid var(--subdued-accent);
}

/* ZEN MODE */

/* This code governs the collapse of the top and bottom bars. This involves keeping all
 * but a certain element visible when the respective bar is collapsed, unless any element
 * on the bar is hovered over. This is somewhat complicated by the position in the DOM
 * tree of the element to leave visible; this could probably be structured better */

#page.top-bar-hidden #top-bar {
  border: none;
  position: absolute;
  height: 2em;
}

#page.top-bar-hidden #top-bar .wrap:has(.nut-icon) {
  background: none;
}

#page.top-bar-hidden #top-bar .wrap:has(#title),
#page.top-bar-hidden #top-bar .wrap:has(#editor-mode) {
  display: none;
}

#page.top-bar-hidden #top-bar .wrap:has(.nut-menu):hover ~ .wrap:has(#title),
#page.top-bar-hidden
  #top-bar
  .wrap:has(.nut-icon):hover
  ~ .wrap:has(#editor-mode),
#page.top-bar-hidden #top-bar:hover .wrap:has(#title),
#page.top-bar-hidden #top-bar:hover .wrap:has(#editor-mode) {
  display: flex;
}

#page.top-bar-hidden #top-bar:hover .nut-icon {
  border-radius: 0;
}

#page.top-bar-hidden #top-bar .wrap:has(#editor-mode) {
  display: none;
}

#page.top-bar-hidden #main {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}

#page.top-bar-hidden #side-bar {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
}

#page.bottom-bar-hidden #bottom-bar > *:not(#cursor-inspector),
#page.bottom-bar-hidden #bottom-bar > #cursor-inspector > *:not(.ci-header),
#page.bottom-bar-hidden
  #bottom-bar
  > #cursor-inspector
  > .ci-header
  > *:not(.gamma) {
  display: none;
}

#page.bottom-bar-hidden #bottom-bar > #cursor-inspector > .ci-header {
  padding: 0;
  outline: 0;
}

#page.bottom-bar-hidden #bottom-bar {
  position: absolute;
  bottom: 0;
  z-index: 30;
  height: 2em;
  background: none;
  outline: none;
  width: 100%;
}

#page.bottom-bar-hidden #bottom-bar:has(*:hover) .ci-header {
  outline: 0.6px solid var(--subdued-accent);
  padding: 0em 0.6em 0em 0em;
}

#page.bottom-bar-hidden #bottom-bar:hover *,
#page.bottom-bar-hidden #bottom-bar:has(*:hover) * {
  display: flex !important;
}

#page.bottom-bar-hidden #bottom-bar:hover,
#page.bottom-bar-hidden #bottom-bar:has(*:hover) {
  background-color: var(--bottom-bar-bkg);
  outline: 0.6px solid var(--subdued-accent);
}

#page.top-bar-hidden.bottom-bar-hidden #main {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
}

#page.bottom-bar-hidden #main {
  grid-row: 2 / span 3;
  grid-column: 1 / span 1;
}

#page.top-bar-hidden.bottom-bar-hidden #side-bar {
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
}

#page.bottom-bar-hidden #side-bar {
  grid-row: 2 / span 3;
  grid-column: 2 / span 1;
}
