@import "style/fonts.css";
@import "style/variables.css";
@import "style/animations.css";
@import "style/loading.css";
@import "style/editor.css";
@import "style/projectors.css";
@import "style/nut-menu.css";
@import "style/cursor-inspector.css";
@import "style/type-display.css";
@import "style/projectors-panel.css";
@import "style/explainthis.css";
@import "style/exercise-mode.css";
@import "style/cell.css";
@import "style/dynamics.css";
@import "style/toggle.css";

/* BASE ELEMENTS */

svg {
  overflow: visible;
}

body {
  /* Default UI font */
  font-family: var(--ui-font);
}

select {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: var(--select-text);
  /* text-transform: capitalize; */
}
select:hover {
  border-radius: 1em;
  background-color: var(--SAND);
}

:root {
  scrollbar-color: var(--main-scroll-thumb) var(--main-scroll-track);
  scrollbar-width: thin;
}

:root::-webkit-scrollbar {
  width: 0.8em;
}

:root::-webkit-scrollbar:horizontal {
  height: 0.8em;
}

:root::-webkit-scrollbar-track {
  background-color: none;
}

:root::-webkit-scrollbar-thumb {
  background-color: var(--main-scroll-thumb);
  border-radius: 1em;
}

:root::-webkit-scrollbar-button,
:root::-webkit-scrollbar-corner {
  display: none;
}

/* PAGE */

#page {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 2em minmax(0, 1fr) 2em / 1fr fit-content(18em);
  background-color: var(--light-page-color);
  color: var(--STONE);
  user-select: none;
}

#font-specimen {
  position: fixed;
  left: 100%;
}

#main {
  grid-row: 2;
  grid-column: 1 / span 1;
  overflow: auto;
  padding: 0;
  background-color: var(--main-bkg);
}

#side-bar {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  border-left: 0.6px solid var(--BR2);
  overflow-y: scroll;
  overflow-x: hidden;
  width: max-content;
}

#top-bar {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  z-index: var(--top-bar-z);
  display: flex;
  align-items: center;
  border-bottom: 0.6px solid var(--BR2);
}

#bottom-bar {
  z-index: var(--bottom-bar-z);
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--bottom-bar-bkg);
  outline: 0.6px solid var(--BR2);
}
