html, body {
	margin: 0px;
	padding: 0px;
	font-family: Montserrat, sans-serif;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
}

.container > :first-child {
	height: 100%;
	width: 100%;
	display: table;
}

.top-bar {
	display: table-cell;
	width: 100%;
	height: 30px;
	padding: 10px;
	vertical-align: middle;
	background-color: #529344;
	color: white;
	font-weight: bold;
	font-size: 14pt;
	border-bottom: 1px solid darkgreen;
}

.main-area {
	background-color: wheat;
	display: table-row;
	width: 100%;
	height: 100%;
}

.main-area > :first-child {
	display: table;
	width: 100%;
	height: 100%;
}

.page-area {
	height: 100%;
	display: table-cell;
	padding-left: 0.25in;
	padding-top: 0.25in;
	padding-bottom: 0.75in;
}

.sidebar {
	display: table-cell;
	width: 275px;
	background: rgb(144, 184, 96);
	vertical-align: top;
	padding: 5px;
	height: 100%;
	border-left: 1px solid darkgreen;
}

.page {
	border-radius: 5px;
	background-color: white;
	padding: 0.25in;
	box-shadow: 4px 4px #555;
	max-width: 10in;
	margin-right: 0.25in;
}

h1 {
	margin-top: 0pt;
	padding-top: 0pt;
	margin-bottom: 0pt;
	color: #444;
}

.type-indicator {
	text-align: right;
	width: 100%;
	font-size: 12pt;
}

.type-label {
	background-color: #CCC;
	padding: 3px;
	display: inline-block;
	padding-right: 5px;
}

.htype-view {
	padding: 3px;
	background-color: #CCC;
	display: inline-block;
}

.panel-title{
	text-align: center;
	/* background-color: seagreen; */
	color: black;
	border-bottom: 1px solid darkgreen;
	margin-bottom: 10px;
}

.ModelExp {
	padding: 10px;
	font-size: xx-large;
	margin-top: 20px;
	background-color: white;
	border: 2px solid #CCC;
}

.ModelType {
  font-size: large;
	width:100%
}

.typeLbl {
	font-weight: bold;
	font-size: 12pt;
}

#num_input_id{
	width:70%;
}

button:disabled {

}

.HZElem{
	float: left;
}

.HZElem img{
	float: left;
}

.Model{
	float:left;
}

.btn-outline-primary {
	margin-bottom: 10px;
	margin-right:20px;
	}

.input-group{
	margin-bottom: 10px;
}

/*brown #975633*/

.SDoc {
	font-family: monospace;
}

.kw {
	font-weight: bold;
}

.var {
	font-style: italic;
}

.hole {
  color: #a040a0
}

.cursor {
	background-color: rgb(229, 255, 229);
	border-bottom: 3px solid green;
}

.SIndentation {
  white-space: pre;
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.NonEmptyHole {
	border: 2px solid #a040a0;
	border-radius: 4px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 3px;
	padding-right: 3px;
	
}
