/* general */
div {
  box-sizing: border-box;
}

div .inline-div {
  display: inline;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* top level */

html, body {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
  height: 100%;
  overflow: hidden;
}

#container {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* top bar */

.top-bar {
  padding: 10px;
  background-color: #073f24;
  color: white;
  font-weight: bold;
  font-size: 14pt;
}

.logo-text {
  color: white;
  text-decoration: none;
}

/* arrangement of main area */

.main-area {
  flex-grow: 1;
  background-color: wheat;
  display: flex;
  flex-direction: row;
}

.flex-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page-area {
  flex-grow: 1;
  /* enable scroll */
  height: 0px;
  overflow-y: auto;

  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
}

/* sidebars */

.collapsible-sidebar {
  width: 290px;
  flex-shrink: 0;
  transition: width 0.3s ease;
}

.collapsed-sidebar {
  width: 24px;
}

/* Set width to zero to have the sidebar "slide away" */
#collapsible-left-bar {
  /* Need to reverse the text direction to make the left bar
   * overflow to the left during its hide animation.
   */
  direction: rtl;
}

#collapsible-right-bar {

}

.sidebar {
  width: 290px;
  height: 100%;
  direction: ltr; /* reset text direction */
  background-color: tan;
  display: flex;
  flex-direction: column;
  padding-top: 7px;
}

.sidebar-tab {
  height: 20px;
  flex-shrink: 0;
  padding: 4px 7px 4px 7px;
  display: flex;
  align-items: center; /* vertical alignment */
}

#left-tab {
  justify-content: flex-end;
}

#right-tab {
  justify-content: flex-start;
}

.sidebar-tab-icon {
  width: 9px;
  height: 9px;
  flex-shrink: 0;
  fill: #41392c;
  display: block; /* MUST do this: inline elements have in-built vertical margins */
}

.sidebar-body-slider {
  height: 100%;
  display: flex;
}

#slidable-left-bar-body {
  padding-left: 7px;
  direction: rtl;
}

#slidable-right-bar-body {
  padding-right: 7px;
}

.sidebar-body {
  flex-grow: 1;
  height: 100%;
  direction: ltr; /* reset text direction */
  display: flex;
  flex-direction: column;
}

.sidebar-body-padding {
  width: 7px;
  flex-shrink: 0;
  transition: width 0.3s ease;
  height: 100%;
}

#left-bar-body-padding {

}

#right-bar-body-padding {

}

.sidebar-body-padding-expanded {
  width: 28px;
}

/* panels */

.panel {
  border: 1px solid #073f24;
  background-color: #FEFEEA;
  box-shadow: 2px 2px 0px 0px #af8e63;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title-bar {
  text-transform: uppercase;
  color: white;
  padding: 3px;
  padding-right: 0px;
  font-size: 10pt;
  font-weight: bold;
  background-color: #073f24;
}

.panel-title-bar {

}

.panel-body {
  flex-grow: 1;
  /* enable scroll */
  height: 0px;
  overflow-y: auto;
}

/* cursor inspector */

.cursor-inspector-outer {

}

.cursor-OK.cursor-inspector {
  border: 1px solid #073f24;
}

.cursor-TypeInconsistency.cursor-inspector {
  border: 1px solid #8e0000;
}

.cursor-BindingError.cursor-inspector {
  border: 1px solid #ce5f00;
}

.cursor-Keyword.cursor-inspector {
  border: 1px solid #ce5f00;
}

.cursor-OK .title-bar {
  background-color: #073f24;
}

.cursor-TypeInconsistency .title-bar {
  background-color: #8e0000;
}

.cursor-BindingError .title-bar {
  background-color: #ce5f00;
}

.cursor-Keyword .titlebar {
	background-color: #ce5f00;
}

.typebar, .infobar {
  font-size: 150%;
  padding: 5px;
  min-height: 35px;
  display: flex;
  align-items: center;
}

.special-msg-bar {
  font-size: 12pt;
  display: flex;
  align-items: center;
}

.cursor-OK .typebar, .cursor-OK .infobar {
  background-color: #FEFEEA;
}

.cursor-TypeInconsistency .typebar, .cursor-TypeInconsistency .infobar {
  background-color: #ffe0e0;
}

.cursor-BindingError .typebar, .cursor-BindingError .infobar {
  background-color: #fef6ea;
}

.cursor-Keyword .typebar, .cursor-Keyword .infobar {
  background-color: #fef6ea;
}

.matched-type-bar > div {
  display: inline-block;
}

.matched-connective {
  padding-left: 5px;
  padding-right: 5px;
}

/* action panel */

.action-panel {
  flex-grow: 2;
  background-color: #073f24;
  cursor: default;
}

.action-panel .title-bar {
  /* background-color: #331757; */
  /* background-color: #163454; */
  background-color: #073f24;
}

.action-panel-body {
  /* Hide the bottom shadow of the last button
   * so it aligns nicely with the panel border.
   */
  margin-bottom: -1px;
}

.sub-panel-title {
  text-align: center;
  /* background-color: #163454; */
  background-color: #073f24;
  text-transform: uppercase;
  line-height: 30px;
  color: white;
  font-size: 8pt;
}

.action-panel-entry {
  display: grid;
  grid-template-columns: 1fr auto;
}

.action-label {
  padding-left: 5px;
  background-color: #41392c;
  border-left: 1px solid #624c2c;
  border-top: 1px solid #624c2c;
  border-right: 1px solid #0d0a05;
  border-bottom: 1px solid #0d0a05;
}

.info-label {
  border-right: 0px;
}

.keyboard-shortcut {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 30px;
  text-align: center;
  font-family: sans-serif;
  background-color: #8b6040;
  border-left: 1px solid #a0845b;
  border-top: 1px solid #a0845b;
  border-right: 0px;
  border-bottom: 1px solid #0d0a05;
}

.action-label,
.keyboard-shortcut {
  line-height: 30px;
  font-size: 10pt;
  color: white;
}

.action-disabled .action-label,
.action-disabled .keyboard-shortcut {
  /* background-color: #888; */
  /* border: 1px outset #999; */
  color: #BBB;
}

.action-label-with-input {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.action-label-with-two-inputs {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
}

.action-input {
  width: 100%;
  margin-left: 5px;
  padding-right: 10px;
}

.action-input-2 {
  margin-left: 0px;
  padding-right: 5px;
}

.action-input input {
  width: 100%;
  box-sizing: border-box;
  border: 0px;
  border-bottom: 1px solid #ffffff47;
  background-color: rgba(0,0,0,0);
  color: white;
  font-family: monospace;
  font-style: italic;
}

.action-input input:focus {
  outline: 0px solid white;
}

#lit_input {
  font-style: normal !important;
}

.action-validity-indicator {
  padding-right: 3px;
}

.action-validity-indicator .invalid-mark {
  opacity: 0.5;
}

/* context inspector */

.context-inspector-panel {
  flex-grow: 1;
}

.context-inspector-body {
  display: grid;
  grid-template-rows:
    1fr /* .the-context */
    auto /* .the-path-view */;
}

.context-is-empty-msg {
  margin-top: 10px;
  opacity: 0.50;
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 75%;
}

.context-entry {
  font-size: 150%;
  border: 1px outset #ffffff;
  border-left: 0px;
  border-right: 0px;
}

.instructional-msg {
  background-color: #073f24;
  padding: 5px;
  color: white;
  font-size: 10pt;
}

.static-info {
  background-color: #f0fff3;
  padding: 5px;
}

.dynamic-info {
  background-color: #f0fff3;
  padding-top: 0px;
  padding-left: 18px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.context-entry .SDoc {
  display: inline-block;
}

.the-path-viewer {
}

.path-area-parent {
  min-height: 35px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.path-area {
  /* background-color: #f0fff3; */
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 150%;
}

.path-item,
.path-item .inst,
.path-item .inst-var-separator,
.path-item .path-var
{
  display: inline-block;
}

.path-item .inst-var-separator {
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
}

.path-item-separator {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  color: #CCC;
}

.trailing-inst {
  display: inline-block;
}

.path-summary {
  /* text-transform: uppercase; */
  /* font-size: 80%; */
  /* color: #444; */
  /* text-align: center; */
  /* padding: 5px; */
  display: flex;
}

.instance-info {
  flex-grow: 1;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 10pt;
}

.instance-controls {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding-right: 4px;
}

.instance-button-wrapper {
  display: flex;
  align-items: center;
}

.prev-instance,
.next-instance {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  padding: 4px;
}

.has-prev,
.has-next {
  cursor: pointer;
}

.no-prev,
.no-next {
  opacity: 0.15;
  cursor: default;
}

.hole-name-normal-txt,
.inst-number-normal-txt {
  font-weight: bold;
  /* font-family: monospace; */
}

.hii-summary-inst {
  display: inline-block;
  font-size: 150%;
}

.special-msg {
  font-size: 10pt;
  display: flex;
  align-items: center;
}

/* .path-summary { */
/*   background-color: #073f24; */
/*   color: white; */
/*   padding: 3px; */
/* } */

/* options panel */

.options-panel {
  background-color: #EEE;
  border: 1px solid #444;
}

.options-panel .title-bar {
  background-color: #444;
}

/* page */

.page {
  background-color: white;
  padding: 0.25in;
  margin-bottom: 14px; /* to match parent padding: creates a visible gap at bottom of scroll */
  box-shadow: 3px 3px tan;
  /* border: 1px solid tan; */
  max-width: 10in;
}

h1 {
  margin-top: 0pt;
  padding-top: 0pt;
  margin-bottom: 0pt;
  color: #444;
}

.cell-status {
  background-color: #EEE;
}

.result-label {
  padding: 3px
}

.result-view {
  padding-left: 25px;
  padding-bottom: 5px;
  background-color: #EEE;
}

.type-indicator {
  width: 100%;
  font-size: 12pt;
}

.type-label {
  background-color: #EEE;
  padding: 3px;
  display: inline-block;
  padding-right: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11pt;
  color: gray;
}

.htype-view {
  padding: 3px;
  background-color: #EEE;
  display: inline-block;
}

.ModelExp {
  padding: 10px;
  font-size: 175%;
  margin-top: 20px;
  background-color: white;
  border: 2px solid #CCC;
  /* line-height: 100%; */
}

.ModelExp :focus {
  outline: 0px;
}

.ModelType {
  font-size: large;
  width:100%
}

.typeLbl {
  font-weight: bold;
  font-size: 12pt;
}

#num_input_id{
  width:70%;
}

button:disabled {

}

.HZElem{
  float: left;
}

.HZElem img{
  float: left;
}

.Model{
  float:left;
}

.input-group{
  margin-bottom: 10px;
}

/*brown #975633*/

.SDoc {
  font-family: monospace;
}

.code {
  font-family: monospace;
}

.code.op {
  font-size: 150%;
}

.kw, .lambda-sym {
  font-weight: bold;
}

.var {
  font-style: italic;
}

.hole {
  color: #a040a0;
}

.OpSeq:hover .skel-binop {
  background-color: rgba(255, 195, 0, 0.20);
  border-top: 1px solid rgba(255, 195, 0, 0.20);
  /* box-shadow: 0px 0px 0px 2px rgba(75, 50, 50, 0.20); */
}

.OpSeq:hover .Ap {
  background-color: rgba(255, 195, 0, 0.20);
  border-top: 1px solid rgba(255, 195, 0, 0.20);
}

.cursor {
  background-color: rgb(229, 255, 229) !important;
}

.SIndentation {
  white-space: pre;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 2px;
  margin-left: -2px;
}

.NonEmptyHole {
  /* line-height: initial; */
}

.NonEmptyHoleTerm {
  /* padding-bottom: 1px; */
  /* margin-bottom: -1px; */
  margin-right: 2px;
  border: 1px dashed red;
}

.in_err_hole {
  border: 1px dashed red;
}

.in_err_hole > .in_err_hole {
  border: 0px !important;
}

.InVHole {
  border: 1px dashed #ce5f00;
}

.InVHole.Keyword {
	font-weight: bold;
}

.Keyword .var {
	font-style: normal;
}

.result-view {
  font-size: 175%;
}

.hole-decorations {
  display: inline-table;
  vertical-align: top;
}

.EmptyHole {
  border-bottom: 1px solid #a040a0;
}

.hole-instance {
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  margin-left: -1px;
  margin-right: -1px;
  cursor: pointer;
}

.path-instance {
  border: 1px dashed #a040a0;
}

.selected-instance {
  border: 1px solid #a040a0;
}

.hole-instance:hover {
  border-left: 1px solid #a040a0;
  border-right: 1px solid #a040a0;
  border-top: 1px solid #a040a0;
  border-bottom: 1px solid #a040a0;
}

.Hole {
  border-bottom: 1px solid #a040a0;
}

.holeName {
  vertical-align: text-bottom;
  font-size: 65%;
  color: #BBB;
  padding-left: 2px;
  padding-right: 2px;
  /* border-bottom: 1px solid #a040a0; */
  margin-bottom: -3px;
  /* line-height: initial; */
}

.hole-inst-num {
  vertical-align: super;
  font-size: 50%;
  color: #BBB;
}

.hide-hole-names .holeName {
  display: none !important;
}

.hide-hole-envs .environment {
  display: none !important;
}

.hole-decorations > .holeName {
  display: table-row;
}

.environment {
  vertical-align: sub;
  font-size: 50%;
  color: #a040a0;
  color: black;
}

.hole-decorations > .environment {
  display: table-row;
}

#num_changes_counter {
  display: none;
}

.space {
  margin-right: 2px;
}

/* .EmptyHole {
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}

.hole-before {
  -moz-user-select: none;
  -webkit-user-select: text;
  user-select: none;
}

.hole-after {
  -moz-user-select: none;
  -webkit-user-select: text;
  user-select: none;
}

.holeName {
  -moz-user-select: none;
  -webkit-user-select: text;
  user-select: none;
} */

.failed-cast-arrow {
  color: red;
  font-weight: bold;
}

.FailedCast {
  background-color: rgba(255, 0, 0, 0.1);
}

/* .OpSeq:hover .skel-binop {
  background-color: rgba(255, 195, 10, 0.20);
} */

/* .skel-binop:hover { */

.elided {
  color: #AAA;
  font-size: 80%;
}

.color-picker {
  background-color: rgb(230, 230, 230);
  border-radius: 4px;
  display: inline-block;
  padding: 4px;
}

.color {
  width: 16px;
  height: 16px;
  margin: 2px;
  border-radius: 4px;
  float: left;
}

.color.selected {
  border: 1.5px solid black;
}

.palette-view {
  background-color: #EEE;
  border: 1px solid #444;
  padding: 4px;
  margin-left: 5px;
}
