div {
	box-sizing: border-box;
}

html, body {
	margin: 0px;
	padding: 0px;
	font-family: Montserrat, sans-serif;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
}

#root {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
}

.top-bar {
	padding: 10px;
	vertical-align: middle;
	background-color: #006633;
	color: white;
	font-weight: bold;
	font-size: 14pt;
}

.main-area {
	background-color: wheat;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 275px;
}

.page-area {
	height: 100%;
	padding-left: 0.25in;
	padding-top: 0.25in;
	padding-bottom: 0.75in;
}

.sidebar {
	width: 275px;
	background: rgb(144, 184, 96);
	vertical-align: top;
	padding: 5px;
	height: 100%;
	border-left: 5px solid darkgreen;
}

.page {
	border-radius: 5px;
	background-color: white;
	padding: 0.25in;
	box-shadow: 4px 4px #555;
	max-width: 10in;
	margin-right: 0.25in;
}

h1 {
	margin-top: 0pt;
	padding-top: 0pt;
	margin-bottom: 0pt;
	color: #444;
}

.cell-status {
	display: grid;
	grid-template-columns: 30px 1fr;
	background-color: #EEF;
}

.result-label {
	padding: 3px
}

.result-view {
	padding-left: 25px;
	padding-bottom: 5px;
	background-color: #EEF;
}

.type-indicator {
	text-align: right;
	width: 100%;
	font-size: 12pt;
}

.type-label {
	background-color: #EEF;
	padding: 3px;
	display: inline-block;
	padding-right: 5px;
}

.htype-view {
	padding: 3px;
	background-color: #EEF;
	display: inline-block;
}

.panel-title{
	text-align: center;
	/* background-color: seagreen; */
	color: black;
	border-bottom: 1px solid darkgreen;
	margin-bottom: 10px;
}

.ModelExp {
	padding: 10px;
	font-size: 175%;
	margin-top: 20px;
	background-color: white;
	border: 2px solid #CCC;
	line-height: 100%;
}

.ModelExp :focus {
	outline: 0px;
}

.ModelType {
  font-size: large;
	width:100%
}

.typeLbl {
	font-weight: bold;
	font-size: 12pt;
}

#num_input_id{
	width:70%;
}

button:disabled {

}

.HZElem{
	float: left;
}

.HZElem img{
	float: left;
}

.Model{
	float:left;
}

.btn-outline-primary {
	margin-bottom: 10px;
	margin-right:20px;
	}

.input-group{
	margin-bottom: 10px;
}

/*brown #975633*/

.SDoc {
	font-family: monospace;
}

.kw {
	font-weight: bold;
}

.var {
	font-style: italic;
}

.hole {
  color: #a040a0;
}

.cursor {
	background-color: rgb(229, 255, 229);
}

.SIndentation {
  white-space: pre;
	background-color: rgba(0, 0, 0, 0);
}

.NonEmptyHole {
	line-height: initial;
}

.NonEmptyHoleTerm {
	/* padding-bottom: 1px; */
	/* margin-bottom: -1px; */
	margin-right: 2px;
	border: 1px dashed red;
}

.result-view {
  font-size: 175%;
}

.hole-decorations {
	display: inline-table;
	vertical-align: top;
}

.EmptyHole {
	border-bottom: 1px solid #a040a0;
}

.Hole {
	border-bottom: 1px solid #a040a0;
}

.holeName {
	vertical-align: bottom;
	font-size: 65%;
	color: #BBB;
	padding-left: 2px;
	padding-right: 2px;
	/* border-bottom: 1px solid #a040a0; */
	margin-bottom: -3px;
	line-height: initial;
}

.nonEmptyHoleName {
	vertical-align: bottom;
	font-size: 65%;
	color: red;
	line-height: initial;
}

.hide-hole-names .holeName {
	display: none !important;
}

.hide-hole-envs .environment {
	display: none !important;
}

.hole-decorations > .holeName {
	display: table-row;
}

.environment {
	vertical-align: sub;
	font-size: 50%;
	color: #a040a0;
	color: black;
}

.hole-decorations > .environment {
	display: table-row;
}

#num_changes_counter {
	display: none;
}

.space {
	margin-right: 2px;
}

/* .EmptyHole {
	-moz-user-select: all;
  -webkit-user-select: all;
	user-select: all;
}

.hole-before {
	-moz-user-select: none;
  -webkit-user-select: text;
	user-select: none;
}

.hole-after {
	-moz-user-select: none;
  -webkit-user-select: text;
	user-select: none;
}

.holeName {
	-moz-user-select: none;
  -webkit-user-select: text;
	user-select: none;
} */

