body {
	margin: 0px;
	padding: 0px;
	font-family: Montserrat, sans-serif;
}

.top-bar {
	width: 100%;
	background-color: #029344;
	color: white;
	font-weight: bold;
	padding: 10px;
	border-bottom: 2px solid darkgreen;
}

.main-area {
	background-color: wheat;
	display: table;
	width: 100%;
}

.page-area {
	display: table-cell;
	padding-left: 0.25in;
	padding-top: 0.25in;
	padding-bottom: 0.75in;
}

.sidebar {
	display: table-cell;
	width: 275px;
	background: #029344;
	vertical-align: top;
	border-left: 2px solid darkgreen;
	padding: 5px;
}

.page {
	background-color: white;
	border: 2px solid #444;
	padding: 0.8in;
	box-shadow: 3px 3px 10px #444;
	max-width: 8.5in;
	margin-right: 0.25in;
}

h1 {
	margin-top: 0pt;
	padding-top: 0pt;
	margin-bottom: 0pt;
	color: #444;
}

.panel-title{
	text-align: center;
	background-color:#029344;
	color: white;
	border-bottom: 2px solid darkgreen;
	margin-bottom: 10px;
}

.ModelExp {
	padding: 10px;
	font-size: xx-large;
	margin-top: 20px;
	background-color: ghostwhite;
	width:100%;
	border: 2px solid #999;
	display: table;
}

.ModelType {
  font-size: large;
	width:100%
}

.typeLbl {
	font-weight: bold;
	font-size: 12pt;
}

#num_input_id{
	width:70%;
}

button:disabled {

}

.HZElem{
	float: left;
}

.HZElem img{
	float: left;
}

.Model{
	float:left;
}



.btn-outline-primary {
	margin-bottom: 10px;
	margin-right:20px;
	}

.input-group{
	margin-bottom: 10px;
}

/*brown #975633*/

.SDoc {
	font-family: monospace;
}

.kw {
	font-weight: bold;
}

.var {
	font-style: italic;
}

.hole {
  color: #a040a0
}

.cursor {
	background-color: rgb(229, 255, 229);
	border-bottom: 3px solid green;
}

.SIndentation {
  white-space: pre;
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.NonEmptyHole {
	border: 2px solid #a040a0;
	border-radius: 4px;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 3px;
	padding-right: 3px;
	
}
