@keyframes jello {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(10%) rotate(-6deg);
  }

  30% {
    transform: translateX(5%) rotate(6deg);
  }

  45% {
    transform: translateX(5%) rotate(-3.6deg);
  }

  60% {
    transform: translateX(3%) rotate(2.4deg);
  }

  75% {
    transform: translateX(-2%) rotate(-1.2deg);
  }
}

@keyframes blink {
  from,
  to {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }
}