#assistant {
    display: flex;
    flex: 1;
    width: 20em;
    padding: 1em;
    flex-direction: column;
    overflow-y: auto;
    gap: 1em;
}

#assistant .assistant-button {
    text-transform: none;
}

#assistant .title {
    text-transform: none;
    font-size: 1em;
    font-weight: bold;
    padding-top: .5em;
    padding-bottom: .5em;
    color: var(--ui-header-text);
}

#assistant .header {
    display: flex;
    text-transform: none;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

#assistant .settings-box {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25em;
    margin-top: 1em;
}

#assistant .chat-button {
    background-color: var(--SAND);
    color: var(--STONE);
    font-size: .75em;
    padding: 0.5em 1em;
    border-radius: 4px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 1.25em;  
    cursor: pointer;  
    transition: all 0.3s ease;
}

#assistant .chat-button:hover {
    background-color: var(--T1);  
    box-shadow: 0px 4px 6px var(--SHADOW);  
}

#assistant .chat-button:active {
    background-color: var(--T3);
}

#assistant .input-container {
    align-items: center;
    margin-top: auto;
    padding: 2em 0em;
    width: 100%;
    display: flex;
    gap: 10px;
    transition: all 0.3s ease;
}

#assistant .message-input {
    flex: 1;
    background-color: var(--SAND);
    padding: 14px;
    outline: none;
    border-radius: 3.5px;
    border: none;
    transition: all 0.3s ease;
}

#assistant .message-input:focus {
    box-shadow: 0px 0px 1px var(--SHADOW), 0 0 0 1px var(--SHADOW);
}

#assistant .send-button {
    background-color: var(--SAND);
    color: var(--STONE);
    padding: .65em .75em;
    border: 0 solid var(--SAND);
    border-radius: .5em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

#assistant .send-button:hover {
    background-color: var(--T1);  
    box-shadow: 0px 4px 6px var(--SHADOW);  
}

#assistant .send-button:active {
    background-color: var(--T3);
}

