#assistant {
    display: flex;
    flex: 1;
    width: 20em;
    padding: 1em;
    flex-direction: column;
    overflow-y: auto;
    gap: 1em;
}

#assistant .assistant-button {
    text-transform: none;
}

#assistant .assistant-title {
    text-transform: none;
    font-weight: bold;
    color: var(--ui-header-text);
    font-size: 1.2em;
}