.context-inspector .context-entry {
  box-sizing: border-box;
  scroll-snap-align: end;
  direction: ltr;
  display: flex;
  gap: 0.5em;
  max-width: 17em;
  border-top: 0.5px solid #0000;
  border-bottom: 0.5px solid #e2d4a9;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.context-inspector .context-entry:hover {
  max-width: 400em;
  -webkit-mask-image: none;
  border-radius: 0.1em 0.6em 0.1em 0.6em;
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid black;
}

.context-inspector .context-entry .name {
  cursor: pointer;
}

.context-inspector .context-entry .name:hover {
  filter: brightness(0);
}

.context-inspector .context-entry .seperator {
  color: var(--subdued-accent);
}