/* PROJECTORS */

/* Turn off caret when a block projector is focused */
#caret:has(~ .projectors .projector.block *:focus) {
  display: none;
}

/* Default projector styles */

.projector {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--BR2);
}
.projector > *:not(svg) {
  z-index: var(--projector-z);
}
.projector > svg {
  z-index: var(--projector-backing-z);
  fill: var(--shard_projector);
}
.projector.block > svg {
  stroke-width: 0.5px;
  stroke: var(--BR2);
}
.projector.indicated > svg {
  fill: var(--shard-caret-exp);
}
.projector > svg > path {
  vector-effect: non-scaling-stroke;
}
.projector.block.selected > svg > path {
  vector-effect: non-scaling-stroke;
  stroke: var(--Y3);
}
.projector.selected > svg,
.projector.selected.indicated > svg,
.projector.block.selected.indicated > svg {
  fill: var(--shard-selected);
}

/* PROJECTOR: FOLD */

.projector.fold:hover,
.projector.indicated.fold {
  color: --var(BLACK);
}
.projector.fold {
  cursor: pointer;
  font-family: var(--code-font);
}

.result .projector.fold {
  cursor: default;
}

/* PROJECTOR: INFO */

.projector.type .type {
  color: var(--token-typ);
}
.projector.type {
  cursor: pointer;
}
.projector.type .info {
  display: flex;
}
.projector.type:hover {
  color: var(--BLACK);
}

/* PROJECTOR: CHECKBOX */

.projector.check input {
  margin: 0;
  filter: sepia(1);
  cursor: pointer;
  outline: none;
}
.projector.check:not(.indicated):not(:hover) > svg {
  fill: var(--NONE);
}

/* PROJECTOR: SLIDERS (INT & FLOAT) */

.projector.slider input,
.projector.sliderf input {
  margin: 0;
  filter: sepia(1);
  cursor: pointer;
  outline: none;
  width: 90%;
}
.projector.slider:not(.indicated):not(:hover) > svg,
.projector.sliderf:not(.indicated):not(:hover) > svg {
  fill: var(--NONE);
}

/* PROJECTOR: TEXTAREA */

.projector.text {
  cursor: default;
}

.projector.text .wrapper {
  height: 100%;
  width: 100%;
  border-radius: 0.1em;
}

.projector.text.indicated .cols,
.projector.text:has(textarea:focus) .cols {
  color: var(--R1);
}

.projector.text.indicated > svg {
  fill: var(--textarea-indicated);
}

.projector.text .cols {
  height: 100%;
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  border-radius: 0 0.1em 0.1em 0.1em;
  color: var(--SAND);
  background: repeating-linear-gradient(
    var(--NONE),
    var(--NONE) 1.41em,
    var(--textarea-h-stripe) 1.41em,
    var(--textarea-h-stripe) 1.47em /* line-height */
  );
}

.projector.text.selected .cols {
  background: repeating-linear-gradient(
    var(--NONE),
    var(--NONE) 1.41em,
    var(--textarea-h-strip-selected) 1.41em,
    var(--textarea-h-strip-selected) 1.47em /* line-height */
  );
}
.projector.text.selected > svg {
  z-index: 9;
}

.projector.text textarea {
  outline: none;
  resize: none;
  width: 100%;
  caret-color: var(--caret-color);
  padding: 0;
  margin: 0;
  margin-left: -2px;
  line-height: var(--line-height);
  font-family: var(--code-font);
  font-size: inherit;
  border: none;
  color: var(--textarea-text);
  background: none;
  box-shadow: inset 1px 0 0 var(--textarea-v-stripe);
  overflow: hidden; /* hack: scrolls in chrome without this? */
}

.projector.text textarea::selection {
  color: var(--BLACK);
  background-color: var(--shard-selected);
}

/* Probe */

.live-offside {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 10em;
  gap: 0.15em;
}

.live-offside .code {
  background-color: #c7e6c6;
  border-radius: 0.2em;
  /* border-top: 1px solid white; */
  filter: drop-shadow(0.7px 0.7px 0px green);
  opacity: 60%;
}

.projector.probe.indicated .live-offside .code {
  background-color: #a4d7a2;
  opacity: 100%
}

.projector.probe > svg {
  fill: #c7e6c6;
  filter: drop-shadow(0.7px 0.7px 0px green);
}

.projector.probe.indicated > svg {
  fill: #a4d7a2;
}

.projector.probe {
  font-family: var(--code-font);
  font-size: var(--base-font-size);
  color: var(--STONE);
}

.projector.probe .live-env {
  background-color: #e7e1cf;
  border-radius: 0 0.2em 0.2em 0.2em;
  padding: 0.2em;
  display: none;
  position: absolute;
  top: 1.6em;
  z-index: 5000;
}


.projector.probe .live-env .live-env-entry {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
} 

.projector.probe .wrap.cursor {
  outline: 1px solid var(--R1);
  border-radius: 0.2em;
}
.projector.probe.indicated .wrap:not(.cursor) {
  opacity: 60%;
}

.projector.probe .wrap:hover .live-env {
  display: block;
}
.projector.probe .wrap:hover .live-env:empty {
  display: none;
}
.projector.probe .wrap:hover > .code {
  border-radius: 0.2em 0.2em 0.2em 0;
  cursor: col-resize;
}