/* PROJECTORS */

/* Turn off caret when a block projector is focused */
#caret:has(~ .projectors .projector.block *:focus) {
  display: none;
}

/* Default projector styles */

.projector {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--subdued-accent);
}
.projector > *:not(svg) {
  z-index: 12;
}
.projector > svg {
  z-index: 4;
  fill: var(--exp-bg-color);
}
.projector.block > svg {
  stroke-width: 0.5px;
  stroke: var(--subdued-accent);
}
.projector.indicated > svg {
  fill: var(--exp-bg-off-color);
}
.projector > svg > path {
  vector-effect: non-scaling-stroke;
}
.projector.block.selected > svg > path {
  vector-effect: non-scaling-stroke;
  filter: url(#raised-drop-shadow-Nul) !important;
}
.projector.selected > svg,
.projector.selected.indicated > svg,
.projector.block.selected.indicated > svg {
  fill: var(--selection-color);
}

/* PROJECTOR: FOLD */

.projector.fold:hover,
.projector.indicated.fold {
  color: black;
}
.projector.fold {
  cursor: pointer;
}

/* PROJECTOR: INFO */

.projector.type .type {
  color: var(--typ-text-color);
}
.projector.type {
  cursor: pointer;
}
.projector.type .info {
  display: flex;
}
.projector.type:hover {
  color: black;
}

/* PROJECTOR: CHECKBOX */

.projector.check input {
  margin: 0;
  filter: sepia(1);
  cursor: pointer;
}
.projector.check:not(.indicated):not(:hover) > svg {
  fill: #0000;
}

/* PROJECTOR: SLIDERS (INT & FLOAT) */

.projector.slide input,
.projector.slidef input {
  margin: 0;
  width: 90%;
  filter: sepia(1);
  cursor: pointer;
}
.projector.slide:not(.indicated):not(:hover) > svg,
.projector.slidef:not(.indicated):not(:hover) > svg {
  fill: #0000;
}

/* PROJECTOR: TEXTAREA */

.projector.text {
  cursor: default;
}

.projector.text .wrapper {
  height: 100%;
  width: 100%;
  border-radius: 0.1em;
  border-left: 2px solid #0000;
  border-right: 2px solid #0000;
  margin-left: -2px;
  margin-right: -2px;
}

.projector.text.indicated .cols,
.projector.text:has(textarea:focus) .cols {
  color: red;
}

.projector.text.indicated > svg {
  fill: rgb(255, 249, 240);
  stroke: #868686;
}

.projector.text .cols {
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 0 0.1em 0.1em 0.1em;
  color: #fff;
  background: repeating-linear-gradient(
    #0000,
    #0000 1.41em,
    #add8ff 1.41em,
    #add8ff 1.45em /* line-height */
  );
}

.projector.text.selected .cols {
  color: #c7b491;
  background: repeating-linear-gradient(
    #0000,
    #0000 1.41em,
    rgba(200, 138, 24, 0.3) 1.41em,
    rgba(200, 138, 24, 0.3) 1.45em /* line-height */
  );
}

.projector.text textarea {
  outline: none;
  resize: none;
  width: 100%;
  caret-color: red;
  padding: 0;
  margin: 0;
  line-height: var(--line-height);
  font-family: var(--code-font);
  font-size: inherit;
  border: none;
  color: #8c7e62;
  background: none;
  box-shadow: inset 1px 0 0 #ff8ea88a;
  overflow: hidden; /* hack: scrolls in chrome without this? */
}

.projector.text textarea::selection {
  color: black;
  background-color: var(--selection-color);
}
