
#sidebar-button {
    text-transform: none;
}

/* Persistent Sidebar */

#persistent {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    border-left: 0.6px solid var(--BR2);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex: 1;
    width: 5em;
    flex-direction: column;
    gap: 1em;
    background-color: var(--ui-bkg);
    scrollbar-color: var(--main-scroll-thumb) var(--NONE);
}

#persistent .tabs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#persistent .tab {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
    cursor: pointer;
    transition: background-color 0.2s ease; 
}

.collapse-button {
    margin-top: auto;
}
  
#persistent .tab.active {
    border-right: .2em solid var(--BR3);
    padding-left: .2em;
}

#persistent .tab:hover {
    background-color: var(--T2); 
}

#persistent .tab:focus,
#persistent .tab:active {
    background-color: var(--T2); 
}
