:root {
  --line-height: 1.45;
  --base-font-size: 13pt;
  --code-font: "Source Code Pro", monospace;
  --ui-font: "Helvetica Neue";

  /* UI COLORS */

  --light-accent-text: #fffcf3;
  --base-text-color: #586e75;
  --menu-item-color: var(--base-text-color);
  --menu-divider: #0006;
  --main-scroll-track: #0000;

  --primary-accent: #4fad66;
  --test-pass: green;
  --test-pass-active: #cfd;
  --step-hole-color: var(--test-pass);
  --token-comment: #a0c1aa;

  --err-color: red;
  --cell-selected-accent: red;
  --caret-color: #f62116;
  --ci-status-error-text: #bf0101;
  --error-hole-stroke: #ff000087;
  --eval-exception-stroke: #7d0000;
  --test-fail-active: #ff8a8a;
  --error-hole-fill: #ff00000a;

  --test-fail: var(--err-color);
  --eval-exception: var(--test-fail-active);
  --ci-status-error-bkg: var(--test-fail-active);

  --code-highlight-a: rgb(255 0 255 / 20%);
  --code-highlight-b: rgb(0 255 255 / 40%);
  --code-highlight-c: rgb(0 255 0 / 20%);

  --nut-menu: #555f38;
  --nut-menu-active: #98a379;

  --menu-shadow: #77580255;
  --explicit-hole-shadow: #2d2206;

  --code-emphasis: #ce9600;
  --other-accent: #e4d6a6;
  --accent-hole-stroke: #dbcca7;
  --menu-bkg: #f7ebc5;
  --active-cell-bkg: #fffcf3;
  --menu-item-hover-bkg: #fdf6e3;
  --ui-text-accent-light: #a69460;
  --top-bar-text: #a79f89;
  --projectors-bkg: #f6eedc;
  --explicit-hole-fill: #ffd04f;
  --selection-color: #fae294;
  --string-lit-color: #cda56a;
  --subdued-accent: #c7b480;
  --main-bkg: #efe7d6;
  --ci-icon-bkg: #857548;
  --ui-text-accent: #6c5c2e;
  
  --token-secondary: #7e5000;
  
  --light-page-color: var(--menu-item-hover-bkg);

  --token-inconsistent: var(--top-bar-text);
  --token-incomplete: var(--code-emphasis);

  --empty-hole-stroke: var(--accent-hole-stroke);
  --empty-hole-fill: var(--menu-bkg);

  --buffer-bkg: var(--light-page-color);
  --buffer-token: var(--accent-hole-stroke);

  --backpack-selection: var(--selection-color);
  --backpack-joiner: var(--backpack-selection);
  --backpack-genie: var(--backpack-selection);
  --backpack-selection-outline: var(--light-page-color);
  --backback-targets: var(--code-emphasis);

  --main-scroll-thumb: var(--accent-hole-stroke);

  --test-panel-bkg: var(--menu-bkg);
  --cell-result: var(--main-bkg);
  --cell-result-text: var(--ui-text-accent);
  --cell-result-border: var(--accent-hole-stroke);
  --cell-result-hidden: var(--other-accent); /* what is this ? */

  --test-indet: var(--subdued-accent);
  --test-indet-active: var(--other-accent);

  /* Non-code UI */

  --bottom-bar-bkg: var(--menu-bkg);
  
  --menu-item-text: var(--base-text-color);
  --menu-scroll-track: var(--other-accent);
  --menu-scroll-thumb: var(--subdued-accent);
  --menu-outline: var(--subdued-accent);
  --menu-icon: var(--ui-text-accent-light);

  --editor-mode-text: var(--ui-text-accent);
  --context-inspector-colon: var(--subdued-accent);


  /* SORT COLORS */

  --exp-text-color: var(--base-text-color);
  --exp-shadow-color: #b1a47f;
  --exp-bg-color: #ebdfc5;
  --exp-bg-caret-color: #feddb3;

  --rul-text-color: var(--exp-text-color);
  --rul-shadow-color: var(--exp-shadow-color);
  --rul-bg-color: var(--exp-bg-color);

  --nul-text-color: red;
  --nul-shadow-color: red;
  --nul-bg-color: #ffacac;

  --any-text-color: var(--nul-text-color);
  --any-shadow-color: var(--nul-shadow-color);
  --any-bg-color: var(--nul-bg-color);

  --pat-text-color: #169fdc;
  --pat-shadow-color: #13aed2;
  --pat-bg-color: #b2e8ff;
  --pat-bg-caret-color: #d7f3ff;

  --tpat-text-color: #16c8dc;
  --tpat-shadow-color: #13d2d2;
  --tpat-bg-color: #b2fbff;
  --tpat-bg-caret-color: #d7fff7;

  --typ-text-color: #772cff;
  --typ-shadow-color: #975dff;
  --typ-bg-color: #f2ccff;
  --typ-bg-caret-color: #f9e8ff;


  /* Z-STACK */

  --tile-z: 4;
  --empty-hole-z: 5;
  --err-hole-z: 5;
  --code-text-z: 6;
  --caret-position-z: 13;
  --caret-z: 14;
  --top-bar-z: 15;
  --test-panel-z: 20;
  --modal-z: 10001;
  --modal-back-z: 10000;
}
