:root {
  --line-height: 1.45;
  --base-font-size: 13pt;
  --code-font: "Source Code Pro", monospace;
  --ui-font: "Helvetica Neue";

  /* GREYS */

  --base-text-color: #586e75;
  --menu-divider: #0006;
  --main-scroll-track: #0000;
  --explicit-hole-shadow: black;

  /* PALETTE */

  --R0: #ff8a8a;
  --R1: #ff0000;
  --R2: #7d0000;

  --Y0: #fae294;
  --Y1: #ffd04f;
  --Y2: #ce9600;

  --T1: #fffcf3;
  --T2: #f6eedc;
  --T3: #efe7d6;
  --T4: #ebdfc5;

  /* GREENS */
  --primary-accent: #4fad66;
  --primary-light: #69c680;
  --token-comment: #a0c1aa;
  --nut-menu-active: #98a379;
  --nut-menu: #555f38;

  --error-hole-fill: #ff00000a;
  --menu-shadow: #77580255;

  --shard-exp-caret: #feddb3; /* EXP */
  --exp-shadow-color: #b1a47f; /* EXP */
  --other-accent: #e4d6a6;
  --subdued-accent: #c7b480;
  --string-lit-color: #cda56a;

  --menu-bkg: #f7ebc5;
  --menu-item-hover-bkg: #fdf6e3;
  --ci-icon-bkg: #857548;
  --ui-text-accent: #6c5c2e;


  --code-highlight-a: rgb(255 0 255 / 20%);
  --code-highlight-b: rgb(0 255 255 / 40%);
  --code-highlight-c: rgb(0 255 0 / 20%);

  --token-pat: #169fdc;
  --shard-pat: #b2e8ff;
  --shard-caret-pat: #d7f3ff;
  --shadow-pat: #13aed2;

  --token-typ: #772cff;
  --shard-typ: #f2ccff;
  --shard-caret-typ: #f9e8ff;
  --shadow-typ: #975dff;

  --token-tpat: #16c8dc;
  --shard-tpat: #b2fbff;
  --shard-caret-tpat: #d7fff7;
  --shadow-tpat: #13d2d2;

  /* CODE BACKGROUND */

  --main-bkg: var(--T3);
  --light-page-color: var(--menu-item-hover-bkg); /* TODO */
  --cell-active: var(--T1);
  --main-scroll-thumb: var(--other-accent);
  --cell-selected-accent: var(--R1);

  /* CODE DECO */

  --caret-color: var(--R1);
  --error-hole-stroke: var(--R1);

  /* CODE TOKENS */

  --token-buffer: var(--other-accent);
  --token-secondary: var(--shard-exp);
  --token-explicit-hole: var(--Y1);
  --token-incomplete: var(--Y2);
  --token-inconsistent: var(--exp-shadow-color);

  --token-exp: var(--base-text-color); /* EXP */
  --token-rul: var(--token-exp);

  --token-nul: var(--R1);
  --token-any: var(--token-nul);

  /* CODE SHARDS */

  --shard-selected: var(--Y0);

  --shard-exp: var(--T4); /* EXP */

  --shard-rul: var(--shard-exp);
  --rul-shadow-color: var(--exp-shadow-color);

  --shard-nul: var(--R0);
  --shadow-nul: var(--R1);

  --shard-any: var(--shard-nul);
  --shadow-any: var(--shadow-nul);

  --shard-buffer: var(--light-page-color);
  --shard_projector: var(--T2);

  --empty-hole-stroke: var(--other-accent);
  --empty-hole-fill: var(--menu-bkg);

  /* BACKPACK DECO */

  --backpack-selection: var(--shard-selected);
  --backpack-joiner: var(--backpack-selection);
  --backpack-genie: var(--backpack-selection);
  --backpack-selection-outline: var(--light-page-color);
  --backback-targets: var(--Y2);

  /* Dynamics */

  --cell-result-text: var(--ui-text-accent);
  --cell-result-border: var(--other-accent);
  --cell-result-hidden: var(--other-accent); /* ?? */
  --eval-exception: var(--test-fail-active);
  --eval-exception-stroke: var(--R2);
  --step-hole-color: var(--primary-accent);

  /* Non-code UI */

  --editor-mode-text: var(--ui-text-accent);

  --menu-item-text: var(--base-text-color);
  --menu-scroll-track: var(--other-accent);
  --menu-scroll-thumb: var(--subdued-accent);
  --menu-outline: var(--subdued-accent);
  --menu-icon: var(--exp-shadow-color);

  --bottom-bar-bkg: var(--menu-bkg);
  --ci-status-text: var(--ui-text-accent);
  --ci-status-error-text: var(--R2);
  --ci-status-error-bkg: var(--test-fail-active);
  --context-inspector-colon: var(--subdued-accent);

  --explain-this-title: var(--exp-shadow-color);
  --explain-this-expander: var(--exp-shadow-color);

  /* Non-code UI - Exercises Mode */

  --cell-caption: var(--exp-shadow-color);
  --cell-result: var(--T3);
  --cell-exercises-border: var(--subdued-accent);
  --test-panel-bkg: var(--menu-bkg);
  --test-percent-text: var(--T1);

  --test-pass: var(--primary-accent);
  --test-pass-active: var(--primary-light);
  --test-fail: var(--R1);
  --test-fail-active: var(--R0);
  --test-indet: var(--subdued-accent);
  --test-indet-active: var(--other-accent);

  /* Z-STACK */

  --tile-z: 4;
  --empty-hole-z: 5;
  --err-hole-z: 5;
  --code-text-z: 6;
  --caret-position-z: 13;
  --caret-z: 14;
  --top-bar-z: 15;
  --test-panel-z: 20;
  --modal-z: 10001;
  --modal-back-z: 10000;
}
