@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/FiraCode-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/FiraCode-SemiBold.woff2') format('woff2');
}

:root {
  --empty-hole-color: #a040a0;
  --title-bar-color: #073f24;
  --page-padding: 15px;

  --code-font-family: "Fira Code", monospace;
  --code-font-size: 13pt;
  --code-line-height: 1.5;
  --closed-child-line-height: 1.25;

  --err-hole-color: red;
  --verr-hole-color: #ce5f00;
  --var-use-color: rgba(175, 175, 175, 0.3);

  --default-code-bg-color: transparent;
  --caret-color: red;

  --code-radius: 4px;

  --exp-bg-color: rgb(197, 253, 197);
  --exp-shadow-color: rgb(135, 204, 135);

  --pat-bg-color: #baf1fe;
  --pat-shadow-color: rgb(130, 176, 202);
  --pat-bright-shadow-color: rgb(117, 187, 228);

  --typ-bg-color: rgb(233, 221, 253);
  --typ-shadow-color: rgb(173, 154, 202);
  --typ-bright-shadow-color: rgb(192, 159, 241);

  --current-term-z: 0;
  --var-use-z: 0;
  --err-hole-z: 1;
  --verr-hole-z: 1;
  --code-text-z: 2;
  --caret-z: 5;
}

/* general */
div {
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* top level */

html, body {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow-x: auto;
}

#container {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 200fr;
  overflow-y: auto;
}

/* top bar */

.top-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  background-color: var(--title-bar-color);
  color: white;
  font-weight: bold;
  font-size: 14pt;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
  align-items: center;
}

.logo-text {
  color: white;
  text-decoration: none;
}


/* menu panel */

.dropdown {
  margin-left: auto;
  color:#239d60;
  display: inline-block;
  position: relative;
}
.dropdown:hover {
  color:#40cb85;
}

.dropdown details {
  display: flex;
  align-items: center;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown ul li {
  display: flex;
  align-items: center;
  gap: 0.7em;
  font-size: 0.8em;
  padding: 0.4em;
}

.dropdown ul li:hover {
  cursor: pointer;
  color: white;
}

.dropdown .shortcut {
  font-size: 0.7em;
  font-style: italic;
  color:#7f8b85;
}

.dropdown summary {
  text-shadow: 0 2px #020;
  list-style: none;
  cursor: pointer;
  padding-left: 1.5em;
}
.dropdown summary::-webkit-details-marker {
  display: none;
}

.dropdown .dropdown-content {
  font-size: 1em;
  font-weight: normal;
  position: absolute;
  right: -0.8em;
  top: 1.7em;
  min-inline-size: max-content;
  background-color: var(--title-bar-color);
  border-bottom-left-radius: 0.23em;
  padding: 0.5em;
  z-index: 10001;
  filter: drop-shadow(0 0.2em 0.3em #2337);
}

.dropdown details[open] summary::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  cursor: default;
  background-color: #0000;
  z-index: 10000;
}


#card-controls {
  display: flex;
  gap: 0.26em;
  flex-direction: row;
  align-items: center;
}

#card-controls select, #card-controls button {
  background-color: #187346;
  color: #94deba;
  border-width: 0;
  height: 1.3rem;
  border-radius: 0.3em;
  box-shadow: 0 3px #020;
}

#card-controls select:hover, #card-controls button:hover {
  color: #d7ffec;
  background-color: #239d60; 
}

#cardstack-controls {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

#button-centering-container {
  display: flex;
  direction: row;
}

#cardstack-prev-button, #cardstack-next-button {
  cursor: pointer;
}

#cardstack-prev-button:disabled, #cardstack-next-button:disabled {
  cursor: not-allowed;
}

.card-exercise-number {
  font-size: 18px;
  font-weight: bold;
  line-height: 0%;
  white-space: pre;
}

/* arrangement of main area */

.main-area {
  flex-grow: 1;
  background-color: wheat;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.flex-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#page-area {
  flex-grow: 1;
  /* enable scroll */
  height: 100%;
  width: 100%;
  overflow-y: auto;

  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  padding-top: var(--page-padding);
}

/* sidebars */

.collapsible-sidebar {
  width: 400px;
  flex-shrink: 0;
  transition: width 0.3s ease;
  overflow-x: hidden;
}

.collapsed-sidebar {
  width: 28px;
}

.collapsed-sidebar #slidable-left-bar-body {
  width: 0px;
}

/* Set width to zero to have the sidebar "slide away" */
#collapsible-left-bar {
  /* Need to reverse the text direction to make the left bar
   * overflow to the left during its hide animation.
   */
  direction: rtl;
  overflow: hidden;
}

.sidebar {
  width: auto;
  height: 100%;
  direction: ltr; /* reset text direction */
  background-color: tan;
  display: grid;
  grid-template-rows: 1fr auto;
  padding-top: 7px;
  cursor: pointer;
}

.sidebar.right-sidebar {
  grid-template-columns: 30px auto; /* TODO Hannah fix up this layout stuff later*/
}

.sidebar-tab {
  height: 20px;
  flex-shrink: 0;
  padding: 4px 7px 12px 7px;
  display: flex;
  align-items: center; /* vertical alignment */
}

#left-tab {
  justify-content: flex-end;
}

#right-tab {
  justify-content: flex-start;
}

.sidebar-tab-icon {
  fill: #41392c;
  display: block; /* MUST do this: inline elements have in-built vertical margins */
  font-family: var(--code-font-family);
  font-size: 16px;
  cursor: pointer;
}

.left-sidebar-tab-icon-opened {
  display: inline-block;
  fill: #41392c;
  font-family: var(--code-font-family);
  font-size: 16px;
  cursor: pointer;
  margin-right: 2px;
}

.sidebar-body-slider {
  width: 100%;
  height: 100%;
  display: flex;
}

#slidable-left-bar-body {
  direction: rtl;
  padding-left: 7px;
}

#slidable-right-bar-body {
  padding-right: 7px;
}

#right-bar-body {
  cursor: default;
}

.sidebar-body {
  flex-grow: 1;
  width: calc(100% - 7px);
  height: 100%;
  direction: ltr; /* reset text direction */
  display: flex;
  flex-direction: column;
}

.sidebar-body-padding {
  width: 7px;
  flex-shrink: 0;
  transition: width 0.3s ease;
  height: 100%;
}

.sidebar-body-padding-expanded {
  width: 28px;
}

.question-mark-circle {
  color: #fff;
  background-color:#000;
  width:14px;
  height:14px;
  display:inline-block;
  font-size:12px;
  font-family: var(--code-font-family);
  text-align:center;
  text-decoration:none;
  border-radius:100%;
}

/* panels */

.panel {
  outline: 1px solid var(--title-bar-color);
  background-color: #FEFEEA;
  /* box-shadow: 2px 2px 0px 0px #af8e63; */
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title-bar {
  text-transform: uppercase;
  color: white;
  padding: 3px;
  padding-right: 0px;
  font-size: 10pt;
  font-weight: bold;
  background-color: var(--title-bar-color);
  min-height: 23px;
}

.panel-body {
  flex-grow: 1;
  /* enable scroll */
  height: 0px;
  overflow-y: auto;
}

/* cursor inspector */

.cursor-OK.cursor-inspector {
  outline: 1px solid var(--title-bar-color);
}

.cursor-TypeInconsistency.cursor-inspector {
  outline: 1px solid #8e0000;
}

.cursor-BindingError.cursor-inspector {
  outline: 1px solid #ce5f00;
}

.cursor-Keyword.cursor-inspector {
  outline: 1px solid #ce5f00;
}

.cursor-OK .title-bar {
  background-color: var(--title-bar-color);
}

.cursor-TypeInconsistency .title-bar {
  background-color: #8e0000;
}

.cursor-BindingError .title-bar {
  background-color: #ce5f00;
}

.cursor-Keyword .titlebar {
	background-color: #ce5f00;
}

.typebar, .infobar {
  font-size: 125%;
  padding: 5px;
  min-height: 38px;
  max-height: 100px;
  /* enable scroll */
  overflow-y: auto;
  display: flex;
  align-items: center;
}

.special-msg-bar {
  font-size: 12pt;
  display: flex;
  align-items: center;
  min-height: 38px;
}

.cursor-OK .typebar, .cursor-OK .infobar {
  background-color: #FEFEEA;
}

.cursor-TypeInconsistency .typebar, .cursor-TypeInconsistency .infobar {
  background-color: #ffe0e0;
}

.cursor-BindingError .typebar, .cursor-BindingError .infobar {
  background-color: #fef6ea;
}

.cursor-Keyword .typebar, .cursor-Keyword .infobar {
  background-color: #fef6ea;
}

.matched-type-bar > div {
  display: inline-block;
}

.matched-connective {
  padding-left: 5px;
  padding-right: 5px;
}

.inconsistent-branches-ty-bar {
  flex-direction: column;
  align-items: flex-start;
  flex-basis: auto;
}

.inconsistent-branches-ty-bar > span {
  width: 100%;
  cursor: pointer;
}

.inconsistent-branches-ty-bar > :nth-child(even) {
  background-color: #8e000014;
}

/* action panel */

.action-panel {
  flex-grow: 2;
  background-color: var(--title-bar-color);
  cursor: default;
}

.action-panel .title-bar {
  /* background-color: #331757; */
  /* background-color: #163454; */
  background-color: var(--title-bar-color);
}

.action-panel-body {
  /* Hide the bottom shadow of the last button
   * so it aligns nicely with the panel border.
   */
  margin-bottom: -1px;
}

.sub-panel-title {
  text-align: center;
  /* background-color: #163454; */
  background-color: var(--title-bar-color);
  text-transform: uppercase;
  line-height: 30px;
  color: white;
  font-size: 8pt;
}

.action-panel-entry {
  display: grid;
  grid-template-columns: 1fr auto;
}

.action-label {
  padding-left: 5px;
  background-color: #41392c;
  border-left: 1px solid #624c2c;
  border-top: 1px solid #624c2c;
  border-right: 1px solid #0d0a05;
  border-bottom: 1px solid #0d0a05;
}

.info-label {
  border-right: 0px;
}

.keyboard-shortcut {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 30px;
  text-align: center;
  font-family: sans-serif;
  background-color: #8b6040;
  border-left: 1px solid #a0845b;
  border-top: 1px solid #a0845b;
  border-right: 0px;
  border-bottom: 1px solid #0d0a05;
}

.action-label,
.keyboard-shortcut {
  line-height: 30px;
  font-size: 10pt;
  color: white;
}

.action-disabled .action-label,
.action-disabled.keyboard-shortcut,
.action-disabled .keyboard-shortcut {
  /* background-color: #888; */
  /* border: 1px outset #999; */
  color: #BBB;
}

.action-label-with-input {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.action-label-with-two-inputs {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
}

.action-input {
  width: 100%;
  margin-left: 5px;
  padding-right: 10px;
}

.action-input-2 {
  margin-left: 0px;
  padding-right: 5px;
}

.action-input input {
  width: 100%;
  box-sizing: border-box;
  border: 0px;
  border-bottom: 1px solid #ffffff47;
  background-color: rgba(0,0,0,0);
  color: white;
  font-family: var(--code-font-family);
  font-style: italic;
}

.action-input input:focus {
  outline: 0px solid white;
}

#lit_input {
  font-style: normal !important;
}

.action-validity-indicator {
  padding-right: 3px;
}

.action-validity-indicator .invalid-mark {
  opacity: 0.5;
}

/* context inspector */

.context-inspector-panel {
  flex-grow: 1;
}

.context-inspector-body {
  display: grid;
  grid-template-rows:
    1fr /* .the-context */
    auto /* .the-path-view */;
}

.context-is-empty-msg {
  margin-top: 10px;
  opacity: 0.50;
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 75%;
}

.context-entry {
  font-size: 125%;
  border: 1px outset #ffffff;
  border-left: 0px;
  border-right: 0px;
}

.instructional-msg {
  background-color: var(--title-bar-color);
  padding: 5px;
  color: white;
  font-size: 10pt;
}

.static-info {
  background-color: #f0fff3;
  padding: 5px;
}

.dynamic-info {
  background-color: #f0fff3;
  padding-top: 0px;
  padding-left: 18px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.path-area-parent {
  min-height: 38px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.path-area {
  /* background-color: #f0fff3; */
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 125%;
}

.path-item,
.path-item .inst,
.path-item .inst-var-separator,
.path-item .path-var
{
  display: inline-block;
}

.path-item .inst-var-separator {
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
}

.path-item-separator {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  color: #CCC;
}

.trailing-inst {
  display: inline-block;
}

.path-summary {
  /* text-transform: uppercase; */
  /* font-size: 80%; */
  /* color: #444; */
  /* text-align: center; */
  /* padding: 5px; */
  display: flex;
}

.instance-info {
  flex-grow: 1;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 10pt;
}

.instance-controls {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding-right: 4px;
}

.instance-button-wrapper {
  display: flex;
  align-items: center;
}

.prev-instance,
.next-instance {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  padding: 4px;
}

.has-prev,
.has-next {
  cursor: pointer;
}

.no-prev,
.no-next {
  opacity: 0.15;
  cursor: default;
}

.hole-name-normal-txt,
.inst-number-normal-txt {
  font-weight: bold;
  /* font-family: monospace; */
}

.hii-summary-inst {
  display: inline-block;
  font-size: 125%;
}

.special-msg {
  font-size: 10pt;
  display: flex;
  align-items: center;
}

/* options panel */

#SettingsPanel .labeled-checkbox {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 0.5ch;
  align-items: center;
}
#SettingsPanel .indented-option {
  position: relative;
  left: 2.5ch;
}
#SettingsPanel label[disabled] {
  opacity: 0.5;
}

/* page */

.page {
  background-color: white;
  width: 100%;
  padding: 0.25in;
  margin-bottom: 14px; /* to match parent padding: creates a visible gap at bottom of scroll */
  box-shadow: 3px 3px tan;
  min-width: 450px;
  /* border: 1px solid tan; */
  max-width: 100ch;
}

.card-caption {
  max-width: 9in;
}

h1 {
  margin-top: 0pt;
  padding-top: 0pt;
  margin-bottom: 0pt;
  color: #444;
}

.cell-status {
  background-color: #EEE;
}

.result-label {
  padding: 3px
}

.result-view {
  padding-left: 25px;
  padding-bottom: 5px;
  background-color: #EEE;
}

.type-indicator {
  width: 100%;
  font-size: 12pt;
}

.type-label {
  background-color: #EEE;
  padding: 3px;
  display: inline-block;
  padding-right: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11pt;
  color: gray;
}

.htype-view {
  padding: 3px;
  background-color: #EEE;
  display: inline-block;
}

.typeLbl {
  font-weight: bold;
  font-size: 12pt;
}

.HZElem{
  float: left;
}

.HZElem img{
  float: left;
}

.DHCode * {
  border-radius: var(--code-radius);
  line-height: var(--code-line-height);
}
.DHCode .CastDecoration,
.DHCode .FailedCastDecoration,
.DHCode .DivideByZero {
  display: inline-block;
  position: relative;
  font-size: 75%;
  top: -10px;
}
.DHCode .FailedCastDelim {
  color: red;
}
.DHCode .CastDecoration {
  background-color: rgba(150, 0, 255, 0.2);
}
.DHCode .FailedCastDecoration {
  background-color: rgba(255, 0, 0, 0.2);
}

.DHCode .DivideByZero {
  background-color: rgba(255, 0, 0, 0.2);
}

.code {
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
  line-height: var(--code-line-height);
  font-variant-ligatures: none;
  white-space: pre;
}
.code.presentation * {
  position: relative;
}
.code.presentation .Term.Rule,
.code.presentation .Term.Case,
.code.presentation .Term.Operand,
.code.presentation .Term.SubBlock,
.code.presentation .Tessera {
  display: inline-block;
}
.code.presentation .Term.NTuple,
.code.presentation .Term.BinOp {
  display: inline;
}
.code-delim {
  font-weight: bold;
  font-variant-ligatures: normal;
}

.code-closed-child {
  fill: white;
}

#code-root,
.DHCode {
  position: relative;
}
#code-root:focus {
  outline: none;
}

#code-root .code,
.DHCode .code {
  z-index: var(--code-text-z);
}
#code-root .decoration-container,
.DHCode .decoration-container {
  position: absolute;
}
#code-root .err-hole-container,
.DHCode .err-hole-container {
  z-index: var(--err-hole-z);
}
#code-root .var-err-hole-container {
  z-index: var(--verr-hole-z);
}
#code-root .var-use-container {
  z-index: var(--var-use-z);
}
#code-root .current-term-container {
  z-index: var(--current-term-z);
}
#code-root .explanation-elems-container {
  z-index: var(--err-hole-z);
}

#code-root .current-term-drop-shadow.Exp {
  flood-color: var(--exp-shadow-color);
}
#code-root .current-term-drop-shadow.Pat {
  flood-color: var(--pat-shadow-color);
}
#code-root .current-term-drop-shadow.Typ {
  flood-color: var(--typ-shadow-color);
}

#code-root .code-current-term {
  filter: url(#outer-drop-shadow);
}
#code-root .code-current-term.Exp {
  fill: var(--exp-bg-color);
}
#code-root .code-current-term.Pat {
  fill: var(--pat-bg-color);
}
#code-root .code-current-term.Typ {
  fill: var(--typ-bg-color);
}

#code-root .closed-child-inset-shadow.Exp {
  flood-color: var(--exp-shadow-color);
}
#code-root .closed-child-inset-shadow.Pat {
  flood-color: var(--pat-bright-shadow-color);
}
#code-root .closed-child-inset-shadow.Typ {
  flood-color: var(--typ-bright-shadow-color);
}

#code-root .closed-child-drop-shadow {
  flood-color: var(--pat-bright-shadow-color);
}
#code-root .code-closed-child.Exp {
  filter: url(#exp-closed-child-drop-shadow);
}
#code-root .code-closed-child.Pat {
  filter: url(#pat-closed-child-drop-shadow);
}
#code-root .code-closed-child.Typ {
  filter: url(#typ-closed-child-drop-shadow);
}

.code .VBox {
  display: inline-block;
  vertical-align: top;
}

.DHCode .Align {
  display: inline-block;
}

.static-info .code {
  display: inline;
}

#code-container {
  position: relative;
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
  line-height: var(--code-line-height);
  cursor: text;
}

#font-specimen {
  position: fixed;
  top: 0;
  left: 100%;
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
  line-height: var(--code-line-height);
}

#caret-container {
  position: relative;
}
/* https://codepen.io/ArtemGordinsky/pen/GnLBq */
#caret {
  z-index: var(--caret-z);
  position: absolute;
  display: inline-block;
  font-weight: 100;
  margin: calc(0.1 * var(--code-line-height) * 1em) 0;
  height: calc(0.8 * var(--code-line-height) * 1em);
  width: 2px;
  pointer-events: none;
}
#caret.blink {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@keyframes "blink" {
  from, to {
    background-color: var(--caret-color);
  }
  50% {
    background-color: transparent;
  }
}
@-moz-keyframes blink {
  from, to {
    background-color: var(--caret-color);
  }
  50% {
    background-color: transparent;
  }
}
@-webkit-keyframes "blink" {
  from, to {
    background-color: var(--caret-color);
  }
  50% {
    background-color: transparent;
  }
}
@-ms-keyframes "blink" {
  from, to {
    background-color: var(--caret-color);
  }
  50% {
    background-color: transparent;
  }
}
@-o-keyframes "blink" {
  from, to {
    background-color: var(--caret-color);
  }
  50% {
    background-color: transparent;
  }
}

.InHole {
  border: 1px dashed var(--err-hole-color);
  margin: -1px;
}
.InVarHole {
  border: 1px dashed var(--verr-hole-color);
  margin: -1px;
}
.InconsistentBranches {
  border: 1px dashed var(--err-hole-color);
  margin: -1px;
}

.DHCode .Collapsed {
  color: #999;
}

.Var.show-use {
  background-color: rgba(175, 175, 175, 0.3);
}

.err-hole {
  stroke: red;
  stroke-dasharray: 3 2;
  stroke-width: 1;
  fill: none;
}

.var-err-hole {
  stroke: var(--verr-hole-color);
  stroke-dasharray: 3 2;
  stroke-width: 1;
  fill: none;
}

.var-use {
  fill: var(--var-use-color);
  stroke-width: 0;
}

#cell {
  position: relative;
  width: auto;
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  border: 2px solid #CCC;
}
#cell:focus {
  outline: 0px;
}

.InVarHole.Keyword {
	font-weight: bold;
}

.Keyword .var {
	font-style: normal;
}

.result-view {
  font-size: 125%;
}

.DHCode .EmptyHole {
  /* border-bottom: 1px solid var(--empty-hole-color); */
  cursor: pointer;
  border: 1px solid transparent;
}
.DHCode .EmptyHole.selected {
  box-sizing: border-box;
  border: 1px solid var(--empty-hole-color);
}

.selected-instance {
  border: 1px solid var(--empty-hole-color);
}

.HoleLabel {
  color: #BBB;
  display: inline-block;
  text-align: center;
  /* border-bottom: 1px solid var(--empty-hole-color); */
  /* line-height: initial; */
}
#code-container .HoleLabel span {
  font-size: 65%;
}
.DHCode .HoleLabel {
  font-size: 65%;
  padding-left: 2px;
  padding-right: 2px;
}
.DHCode .CastDecoration .HoleLabel,
.DHCode .FailedCastDecoration .HoleLabel {
  color: #777;
}

.CommentLine {
  color: #777;
  font-style: italic;
}

.UserNewline {
  vertical-align: middle;
  font-size: 60%;
  color: #BBB;
}

.hide-hole-names .holeName {
  display: none !important;
}

.hide-hole-envs .environment {
  display: none !important;
}

.elided {
  color: #AAA;
  font-size: 80%;
}

.color-picker {
  background-color: rgb(230, 230, 230);
  border-radius: 4px;
  display: inline-block;
  padding: 4px;
}

.color {
  width: 16px;
  height: 16px;
  margin: 2px;
  border-radius: 4px;
  float: left;
}

.color.selected {
  border: 1.5px solid black;
}

.palette-view {
  background-color: #EEE;
  border: 1px solid #444;
  padding: 4px;
  margin-left: 5px;
}

/* edit action history panel */

.the-history {
  cursor: pointer;
}

.history-entry {
  border: 1px outset #ffffff;
  width: 100%;
  display: grid;
  padding: 5px;
  position: relative;
}

.history-entry-txt{
  width: 80%;
  float: left;
  height: 100%;
}
.hidden-history-entry {
  padding-left: 10px;
}

.history-type-tag{
  display: inline;
  border-radius: 10%;
  color: black;
  margin-right:10px;
  font-size: 11px;
  padding:5px;
  font-weight: bolder;
  float: left;
}
.history-type-tag-typ{
  background-color:rgb(233, 221, 253);
}
.history-type-tag-pat{
  background-color:#baf1fe;
}
.history-type-tag-exp{
  background-color:rgb(197, 253, 197);
}

.the-prev-history {
  color: #0d0a05;
  background-color: #f0fff3;
}
.the-suc-history {
  color: dimgray;
  background-color: lightgray;
}
.the-cur-history {
  color: #b30000;
  background-color: lightgoldenrodyellow;
}

.timestamp-txt{
  float: right;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 35px;
  color: white;
}
.timestamp-txt span{
  visibility: hidden;
  background-color: gray;
  padding: 0px 3px 0px 3px;
  border-radius: 5px;
}
.timestamp-txt:hover span{
  visibility: visible;
}

.history-tab-icon {
  cursor: pointer;
  font-weight: bolder;
  width: 25px;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
  font-size: 16px;
}
.history-tab-icon:hover{
  border-radius: 40%;
  color: white;
  background-color: #073f24;
}
.entry-tab-icon {
  color: #558e62;
}

.all-history-tab-icon {
  color: white;
  display: inline-block;
  vertical-align: middle;
  float:right;
}

.all-history-tab-icon-wrapper {
  float: right;
}

.history-button-bar {
  color: white;
  padding: 3px 5px 3px 3px;
  font-size: 10pt;
  background-color: #678a61;
  display: table;
  width: 100%;
}

.history-button {
  vertical-align: middle;
  margin-left: 5px;
  display: inline-block;
  float: right;
  cursor: pointer;
}
.history-button[disabled]{
  cursor: not-allowed;
  color:lightgray;
}

#history-panel .labeled-checkbox {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 0.5ch;
  align-items: center;
}

#preview_on_hover_checkbox{
  margin-left: 0px;
}
.horizontal-flip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.redo-undo-icon {
  display: inline-block;
  vertical-align: middle;
  font-weight: 1000;
  padding-left: 5px;
  padding-right: 5px;
}
.redo-undo-icon:hover{
  border-radius: 40%;
  background-color: #073f24;
}
.history-button[disabled] .redo-undo-icon:hover{
  border-radius: 40%;
  background-color: dimgray;
}
#preview_on_hover{
  display: inline-block;
  float: left;
}
/* panel keywords css */
.panel-code-keywords-font{
  font-family: var(--code-font-family);
  font-weight: bold;
}
.panel-code-font{
  font-family: var(--code-font-family);
}
